{% extends 'base.html.twig' %}

{% block title %}Article List{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Article List</h1>

        <ul>
            {% for article in articles %}
                <li>
                    {{ article.title }}
                </li>
            {% endfor %}
        </ul>

        <hr>
        <a href="{{ path('article_new') }}">Create new Article</a>
    </div>
{% endblock %}
